*.class

# Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project
**/settings.json
**/.factorypath

#IntelliJ files
**/*.iml
**/.idea
**/.gradle